In [3]:
DataFrame.set_index('Transaction ID')
df = df.set_index(['Transaction ID'])
df.set_index(inplace=True)
print(data1)

TypeError: set_index() missing 1 required positional argument: 'keys'

In [4]:
DataFrame.set_index('Transaction ID')
data1 = data1.set_index(['Transaction ID'])
data1.set_index(inplace=True)
print(data1)

TypeError: set_index() missing 1 required positional argument: 'keys'

In [5]:
DataFrame.set_index(keys, 'Transaction ID')
data1 = data1.set_index(['Transaction ID'])
data1.set_index(inplace=True)
print(data1)

NameError: name 'keys' is not defined

In [6]:
DataFrame.set_index('Transaction ID')
data1 = data1.set_index(['Transaction ID'])
data1.set_index(inplace=True)
print(data1)

TypeError: set_index() missing 1 required positional argument: 'keys'

In [7]:
print(data.dtypes)
salesman=data.index('Transaction ID')
print salesmen

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(salesmen)? (<ipython-input-7-1a2e3f6830fc>, line 3)

In [8]:
print(data.dtypes)
salesman=data.index('Transaction ID')
print (salesmen)

NameError: name 'data' is not defined

In [9]:
print(data1.dtypes)
salesman=data.index('Transaction ID')
print salesmen

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(salesmen)? (<ipython-input-9-5013cd1a8d36>, line 3)

In [10]:
print(data1.dtypes)
salesman=data.index('Transaction ID')
print (salesmen)

NameError: name 'data1' is not defined

In [11]:
print(data1.dtypes)
salesman=data.set_index('Transaction ID')
print (salesmen)

NameError: name 'data1' is not defined

In [12]:
print(data1.dtypes)
salesman=data1.set_index('Transaction ID')
print (salesmen)

NameError: name 'data1' is not defined

In [17]:
print(df.dtypes)
salesman=df.set_index('Transaction ID')
print (salesmen)

Transaction ID     int64
Salesperson       object
Region            object
Account #          int64
Sales Amount       int64
Month             object
dtype: object

NameError: name 'salesmen' is not defined

In [18]:
print(df.dtypes)
salesmen=df.set_index('Transaction ID')
print (salesmen)

Transaction ID     int64
Salesperson       object
Region            object
Account #          int64
Sales Amount       int64
Month             object
dtype: object
                    Salesperson           Region  Account #  Sales Amount  \
Transaction ID
1189            Abilene, Lufkin   West TX Region      83356           259
1191            Abilene, Lufkin   West TX Region      26781          1422
1210            Abilene, Lufkin   West TX Region      55708           802
1174            Angelo, Antonio  South TX Region      36569          1595
1179            Angelo, Antonio  South TX Region      19036           628
1182            Angelo, Antonio  South TX Region      24050           880
1193            Angelo, Antonio  South TX Region      24050           502
1195            Angelo, Antonio  South TX Region      26781           659
1196            Angelo, Antonio  South TX Region      31220           336
1200            Angelo, Antonio  South TX Region      31220          1008

                   Month
Transaction ID
1189             October
1191             October
1210            November
1174             October
1179             October
1182             October
1193             October
1195            November
1196            November
1200            November

In [20]:
import pandas as pd

df1 = pd.read_excel (r'C:\Users\Nijel\Downloads\Sales_People-1.xlsx')


from pandas import DataFrame, Series
df1 = pd.DataFrame(df1.head(10))

print(df1)

   Transaction ID      Salesperson           Region  Account #  Sales Amount  \
0            1189  Abilene, Lufkin   West TX Region      83356           259
1            1191  Abilene, Lufkin   West TX Region      26781          1422
2            1210  Abilene, Lufkin   West TX Region      55708           802
3            1174  Angelo, Antonio  South TX Region      36569          1595
4            1179  Angelo, Antonio  South TX Region      19036           628
5            1182  Angelo, Antonio  South TX Region      24050           880
6            1193  Angelo, Antonio  South TX Region      24050           502
7            1195  Angelo, Antonio  South TX Region      26781           659
8            1196  Angelo, Antonio  South TX Region      31220           336
9            1200  Angelo, Antonio  South TX Region      31220          1008

      Month
0   October
1   October
2  November
3   October
4   October
5   October
6   October
7  November
8  November
9  November

In [21]:
import pandas as pd

df1 = pd.read_excel (r'C:\Users\Nijel\Downloads\Sales_People-1.xlsx')


from pandas import DataFrame, Series
df1 = pd.DataFrame(df1.head(5))

print(df1)

   Transaction ID      Salesperson           Region  Account #  Sales Amount  \
0            1189  Abilene, Lufkin   West TX Region      83356           259
1            1191  Abilene, Lufkin   West TX Region      26781          1422
2            1210  Abilene, Lufkin   West TX Region      55708           802
3            1174  Angelo, Antonio  South TX Region      36569          1595
4            1179  Angelo, Antonio  South TX Region      19036           628

      Month
0   October
1   October
2  November
3   October
4   October